name: Bazos Check
on:
  schedule:
    - cron: '*/30 * * * *' # Každých 30 minút
  workflow_dispatch:
jobs:
  run-scraper:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: pip install requests beautifulsoup4
      - name: Run
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python scraper.py
      - name: Save state
        run: |
          git config --global user.name 'Bot'
          git config --global user.email 'bot@github.com'
          git add videne_inzeraty.txt
          git commit -m "update" || exit 0
          git push
